<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="fireBaseApiKey" value="AIzaSyDzwPtOfKhj4bAZduuBilSF7uCR-1qOLoQ" />
    <add key="fireBaseDb" value="https://firechat-prod-default-rtdb.europe-west1.firebasedatabase.app/" />
    <add key="DirPath" value="%appdata%/FireChat" />
  </appSettings>
</configuration>